@model IEnumerable<ThemePark.TicketCode>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutS.cshtml";

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TicketType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TicketType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TicketCode1 }) |
            @Html.ActionLink("Details", "Details", new { id=item.TicketCode1 }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TicketCode1 })
        </td>
    </tr>
}

</table>
