@model IEnumerable<ThemePark.Ride>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RideName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RideDiscription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RideLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RideCapacity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RideName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RideDiscription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RideLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RideCapacity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RideID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RideID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RideID })
        </td>
    </tr>
}

</table>
