@model ThemePark.Ticket

@{
    ViewBag.Title = "Receipt";
}

<h2>Receipt</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TicketNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TicketCode1.TicketType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketCode1.TicketType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfPurchase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfPurchase)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Home", "Index","Home", null, new {@class="btn btn-primary btn-lg" })
    @Html.ActionLink("New Purchase", "Create", "Tickets", null, new { @class = "btn btn-primary btn-lg" })
</p>
