<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Rokkitt:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li>@Html.ActionLink("Home", "ManagerHub", "Home", null, new { @class = "nav-link" })</li>

                @* TODO: May need to make a duplicate Maintenance Log page that has the ManagerLayout *@
                <li>@Html.ActionLink("Maintenance", "Index", "Maintenance", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Logout", "Index", "Home", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Data", "Index", "Data", null, new { @class = "nav-link" })</li>

            </ul>
        </div>

    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>
