@model ThemePark.EmployeeLogin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmployeeLogin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParkEmployee.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkEmployee.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pswd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pswd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LoginEmail }) |
    @Html.ActionLink("Back to List", "Index")
</p>
