@model ThemePark.ViewModels.AdmissionsVM

@{
    ViewBag.Title = "AdmissionsReport";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Admissions Report</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DailyTotal)
        </th>
        
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.DailyTotal)
        </td>
    </tr>
</table>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WeeklyTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeeklyAvg)
        </th>

        <th></th>
    </tr>
    <tr>
        <th>
            @Html.DisplayFor(model => model.WeeklyTotal)
        </th>
        <th>
            @Html.DisplayFor(model => model.WeeklyAvg)
        </th>

        <th></th>
    </tr>
</table>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MonthlyTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlyAvg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedMonth)
        </th>
        <th></th>
    </tr>
    <tr>
        <th>
            @Html.DisplayFor(model => model.MonthlyTotal)
        </th>
        <th>
            @Html.DisplayFor(model => model.MonthlyAvg)
        </th>
        <th>
            @using (Html.BeginForm("AdmissionsReport", "Data", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.DropDownListFor(model => model.SelectedMonth, Model.Months)
                <input type="submit" value="Submit" />
            }

        </th>

        <th></th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => Model.Rainouts)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.MonthlyRainouts)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayFor(model => model.Rainouts)
        </th>
        <th>
            @Html.DisplayFor(model => Model.MonthlyRainouts)
        </th>
    </tr>
</table>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.YearlyTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearlyAvg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearlyAvgPerMonth)
        </th>

        <th></th>
    </tr>
    <tr>
        <th>
            @Html.DisplayFor(model => model.YearlyTotal)
        </th>
        <th>
            @Html.DisplayFor(model => model.YearlyAvg)
        </th>
        <th>
            @Html.DisplayFor(model => model.YearlyAvgPerMonth)
        </th>

        <th></th>
    </tr>
</table>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SpikedMonths)
        </th>
    </tr>
    <tr>
        <td>
            @foreach (var item in Model.SpikedMonths)
            {
                <ul>
                    @Html.DisplayName(item)
                </ul>
            }
        </td>
    </tr>

    </table>
