@model ThemePark.ViewModels.ConcessionsVM

@{
    ViewBag.Title = "ConcessionsReport";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>ConcessionsReport</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.solditems)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Revenue)
        </th>

        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(model => model.solditems)
        </td>
        <td>
            @Html.DisplayFor(model => model.Revenue)
        </td>


    </tr>


</table>
<h2>Bottled Water</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BWsolditems)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BWRevenue)
        </th>

        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(model => model.BWsolditems)
        </td>
        <td>
            @Html.DisplayFor(model => model.BWRevenue)
        </td>


    </tr>


</table>
<h2>Caramel Apples</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CAsolditems)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CARevenue)
        </th>

        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(model => model.CAsolditems)
        </td>
        <td>
            @Html.DisplayFor(model => model.CARevenue)
        </td>


    </tr>


</table>
<h2>Cotton Candy</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CCsolditems)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CCRevenue)
        </th>

        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(model => model.CCsolditems)
        </td>
        <td>
            @Html.DisplayFor(model => model.CCRevenue)
        </td>


    </tr>


</table>
<h2>Funnel Cakes</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FCsolditems)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FCRevenue)
        </th>

        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(model => model.FCsolditems)
        </td>
        <td>
            @Html.DisplayFor(model => model.FCRevenue)
        </td>


    </tr>


</table>
<h2>Nachos</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nsolditems)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NRevenue)
        </th>

        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(model => model.Nsolditems)
        </td>
        <td>
            @Html.DisplayFor(model => model.NRevenue)
        </td>


    </tr>


</table>
<h2>Pizza</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Psolditems)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRevenue)
        </th>

        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(model => model.Psolditems)
        </td>
        <td>
            @Html.DisplayFor(model => model.PRevenue)
        </td>


    </tr>


</table>
<h2>PopCorn</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Popsolditems)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PopRevenue)
        </th>

        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(model => model.Popsolditems)
        </td>
        <td>
            @Html.DisplayFor(model => model.PopRevenue)
        </td>


    </tr>


</table>
<h2>Sno-Kone</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SKsolditems)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SKRevenue)
        </th>

        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(model => model.SKsolditems)
        </td>
        <td>
            @Html.DisplayFor(model => model.SKRevenue)
        </td>


    </tr>


</table>
<h2>Soda</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SDsolditems)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDRevenue)
        </th>

        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(model => model.SDsolditems)
        </td>
        <td>
            @Html.DisplayFor(model => model.SDRevenue)
        </td>


    </tr>


</table>