@model ThemePark.ViewModels.MaintenanceVM
@{
    ViewBag.Title = "MaintenanceReport";
    Layout = "~/Views/Shared/Manager_Layout.cshtml";
}
<h2>MaintenanceReport</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AvgNumRidesInop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentNumEmergency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentNumPeriodic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentNumScheduled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentNumUnscheduled)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.AvgNumRidesInop)
        </td>
        <td>
            @Html.DisplayFor(model => model.CurrentNumEmergency)
        </td>
        <td>
            @Html.DisplayFor(model => model.CurrentNumPeriodic)
        </td>
        <td>
            @Html.DisplayFor(model => model.CurrentNumScheduled)
        </td>
        <td>
            @Html.DisplayFor(model => model.CurrentNumUnscheduled)
        </td>

    </tr>

</table>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AvgNumRidesInop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentNumEmergency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentNumPeriodic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentNumScheduled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentNumUnscheduled)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.AvgNumRidesInop)
        </td>
        <td>
            @Html.DisplayFor(model => model.CurrentNumEmergency)
        </td>
        <td>
            @Html.DisplayFor(model => model.CurrentNumPeriodic)
        </td>
        <td>
            @Html.DisplayFor(model => model.CurrentNumScheduled)
        </td>
        <td>
            @Html.DisplayFor(model => model.CurrentNumUnscheduled)
        </td>
    </tr>

</table>s