@model IEnumerable<ThemePark.DependentPassHolder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SeasonPassHolder.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ticket.TicketNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SeasonPassHolder.StreetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ticket.TicketNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DepID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DepID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DepID })
        </td>
    </tr>
}

</table>
